/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Poppins', sans-serif;   
   */
   font-family: 'Anaheim', sans-serif;
}
#page-width-control {
  padding: 20px 40px;
  margin: auto 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input, button {
  padding: 7px 10px;
  font-size: 1em;
}
button {
  border-radius: 3px;
  border: 1px solid rgb(191, 192, 196);
}
button:hover {
  cursor: pointer;
  background-color: rgb(122, 213, 178);
}
/* TODO: change border to only border bottom and add bg-color every-other row? */
table, th, tr, td {
  border: 1px solid rgb(191, 192, 196);
  border-collapse: collapse;
  padding: 5px 10px;
}
th {
  text-align: center;
}
.holes-completed {
  text-align: center;
}
.round-point-total {
  /* text-align: right; */
  text-align: center;
}
.buttonListItem:hover {
  cursor: pointer;
  background-color: rgb(122, 213, 178);
}
.activeListItem {
  background-color: rgb(149, 237, 203);
}
.disabledListItem {
  pointer-events: none;
  opacity: 0.5;    
}
/* .disabledListItem:hover {     
  cursor: not-allowed;
} */

